@import url("./colors.css");

.bg-primary {
  background-color: var(--bg-primary-color) !important;
}

.navbar-title {
  color: var(--navbar-title-color);
}

.font-title {
  font-family: "Cabin";
  font-weight: 700;
}

.font-subtitle {
  font-family: "Cabin";
  font-weight: 600;
}

.font-primary {
  font-family: "Cabin";
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

a {
  color: white;
}

a:hover {
  color: var(--navbar-title-color);
  text-decoration: none;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
}

.bg-grey {
  background-color: var(--main-body-color);
}

.card {
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11),
    0 4px 16px 0 rgba(167, 175, 183, 0.33);
  border: solid 1px #dde4eb;
  border-radius: 0px;
}
